[mysqld]
bind-address=0.0.0.0
# http://www.percona.com/blog/2008/05/31/dns-achilles-heel-mysql-installation/
skip_name_resolve
#server-id
#log-bin


max_connections = 32
tmp_table_size = 256M
max_heap_table_size = 256M
query_cache_limit = 32M
table_cache = 1024
join_buffer_size = 32M

### Storage Engines
default-storage-engine         = InnoDB
innodb                         = FORCE

## MyISAM
key-buffer-size                = 64M
myisam-sort-buffer-size        = 128M


## InnoDB
innodb-buffer-pool-size        = 2G
innodb-log-file-size           = 100M
innodb-log-buffer-size         = 8M
innodb-file-per-table          = 1
innodb-open-files              = 300
innodb_flush_method            = O_DIRECT
